<mat-card>
<div>
    <p *ngIf="toggle">
        {{ listEmails }}
    </p>

    <div>
        <p>Its molecular structure was first identified by James Watson
            and Francis Crick at the Cavendish Laboratory within the University of Cambridge
            in 1953, whose model-building
            efforts were guided by <strong>X-ray diffraction data</strong> acquired by
            Raymond Gosling, who was a <i>post-graduate student of</i>
            Rosalind Franklin.</p>
        <div><a href="https://domain.com/admin@google.com">admin@google.com</a></div>
        <p>The unique material properties of DNA have made it an attractive
            molecule for material scientists and engineers interested in micro- and
            nano-fabrication.</p>
        <p>Among notable advances in this field are DNA origami and DNA-based hybrid
            materials.</p>
    </div>
</div>
</mat-card>
<mat-card>
  <button mat-raised-button (click)="onToggle()">toggle emails</button>
</mat-card>
